body {
  font-family: "Noto Sans", sans-serif;
  text-align: justify;
}

:root {
  --links: #fea30e;
  --sidebar-active: #b96517;
}

::-moz-selection {
  background: #f6871f5b;
}

::selection {
  background: #f6871f5b;
}

.splash {
  background: linear-gradient(191.12deg, #ffc40c 0.01%, #f6871f 100.57%);
  position: absolute;
  width: 100%;
  left: 0;
  top: 51px;
  height: 250px;
  display: flex;
  justify-content: center;
}
.splogo {
  margin-top: 60px;
}
.drop {
  margin-bottom: 300px;
}

h1, h2 {
  text-align: start;
}

h2 {
  font-size: 2em !important;
}

#menu-bar {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
}
.am-btns {
  border-radius: 100px;
  padding: 5px 20px;
  border: solid 2px var(--fg);
  /* background-color: var(--bg); */
  background-color: #2b2b2b;
  color: var(--fg) !important;
  margin-right: 10px;
  transition: ease 0.3s;
}
.am-btns:hover {
  border-color: #fea30e;
  color: #fea30e;
}
.next {
  float: right;
  right: var(--page-padding);
  right: 0px;
}
.sidebar {
  z-index: 300;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
}

.content main {
  margin-top: 50px;
}

blockquote {
  border-radius: 6px;
  border: solid var(--fg);
}

.language-rust,
.language-toml {
  border-radius: 6px;
  border: solid var(--fg) !important;
}

.menu-title {
  color: var(--fg) !important;
}

.icon-button,
#print-button {
  color: var(--fg) !important;
}

.chapter li.chapter-item,
.content ul {
  text-align: start;
  line-height: 2.2em;
  margin-top: 0.6em;
}
.content p {
  line-height: 2em;
}

.chapter li a {
  width: 100%;
  transition: ease 0.3s;
  border-radius: 8px;
}
.chapter li a:hover {
  background-color: #ffc20c7a;
  padding-left: 10px;
}

.header {
  transition: ease 0.3s;
  border-radius: 6px;
  padding-right: 20px;
}
.header:hover {
  background-color: #ffc20c7a;
  padding-left: 10px;
}
.hljs {
  color: var(--fg) !important;
  border-radius: 6px;
  border: solid #fea30e;
  background-color: var(--bg);
}
#search-wrapper {
  margin-top: 300px;
}

.center-amperka-logo {
  width: 5em;
  height: 35px;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}